{

  "log": {
    "logLevel": "{{ bench_config.log.logLevel }}",
    "printErrorStack": "{{ bench_config.log.printErrorStack }}"
  },
  "stopOn": {
    "error": "{{ bench_config.stopOn.error }}",
    "processedTransactions": {{ bench_config.stopOn.processedTransactions }}
  },
  "threadsAmount": {{ bench_config.threadsAmount }},
  "maxActivePromises": {{ bench_config.maxActivePromises }},
  "configFile": "{{ bench_config.configFile }}"
}
