---

- name: Converge boot node
  hosts: "*boot*"
  become: true
  roles:
    - role: ansible-cyberos
      vars:
        bc_cyberos_nodeid: "boot"
        bc_docker_registry:
          login_enabled: true
          url: registry.gitlab.com
          username: exampleuser
          password: secret
        bc_cyberos_comp_state:
          wallet: present
          boot: present
          prod: absent
          monitoring: absent
        install_promstack: true

- name: Converge producer node
  hosts: "*producer*"
  become: true
  vars:
    bc_cyberos_node_id: "{{ play_hosts.index(inventory_hostname) }} | int +1"
  roles:
    - role: ansible-cyberos
      vars:
        bc_docker_registry:
          login_enabled: true
          url: registry.gitlab.com
          username: exampleuser
          password: secret
        bc_cyberos_comp_state:
          prod: present
          wallet: absent
          boot: absent
          monitoring: absent
        install_promstack: true

  - name: Converge monitoring node
    hosts: "*monitoring*"
    become: true
    roles:
      - role: ansible-cyberos
        vars:
          bc_docker_registry:
            login_enabled: false
          bc_cyberos_comp_state:
            prod: absent
            wallet: absent
            boot: absent
            monitoring: present
          install_promstack: true
