{
  "__inputs": [
    {
      "name": "DS_PROMETHEUS_ALERTMANAGER",
      "label": "Prometheus AlertManager",
      "description": "",
      "type": "datasource",
      "pluginId": "camptocamp-prometheus-alertmanager-datasource",
      "pluginName": "Prometheus AlertManager"
    }
  ],
  "__requires": [
    {
      "type": "datasource",
      "id": "camptocamp-prometheus-alertmanager-datasource",
      "name": "Prometheus AlertManager",
      "version": "0.0.7"
    },
    {
      "type": "grafana",
      "id": "grafana",
      "name": "Grafana",
      "version": "6.0.2"
    },
    {
      "type": "panel",
      "id": "singlestat",
      "name": "Singlestat",
      "version": "5.0.0"
    },
    {
      "type": "panel",
      "id": "table",
      "name": "Table",
      "version": "5.0.0"
    }
  ],
  "annotations": {
    "list": [
      {
        "builtIn": 1,
        "datasource": "-- Grafana --",
        "enable": true,
        "hide": true,
        "iconColor": "rgba(0, 211, 255, 1)",
        "name": "Annotations & Alerts",
        "type": "dashboard"
      }
    ]
  },
  "editable": true,
  "gnetId": null,
  "graphTooltip": 0,
  "id": null,
  "links": [],
  "panels": [
    {
      "collapsed": false,
      "gridPos": {
        "h": 1,
        "w": 24,
        "x": 0,
        "y": 0
      },
      "id": 13,
      "panels": [],
      "title": "Status",
      "type": "row"
    },
    {
      "cacheTimeout": null,
      "colorBackground": true,
      "colorValue": false,
      "colors": [
        "#299c46",
        "rgba(237, 129, 40, 0.89)",
        "#d44a3a"
      ],
      "datasource": "${DS_PROMETHEUS_ALERTMANAGER}",
      "format": "none",
      "gauge": {
        "maxValue": 100,
        "minValue": 0,
        "show": false,
        "thresholdLabels": false,
        "thresholdMarkers": true
      },
      "gridPos": {
        "h": 5,
        "w": 3,
        "x": 2,
        "y": 1
      },
      "id": 6,
      "interval": null,
      "links": [],
      "mappingType": 1,
      "mappingTypes": [
        {
          "name": "value to text",
          "value": 1
        },
        {
          "name": "range to text",
          "value": 2
        }
      ],
      "maxDataPoints": 100,
      "nullPointMode": "connected",
      "nullText": null,
      "options": {},
      "postfix": "",
      "postfixFontSize": "50%",
      "prefix": "",
      "prefixFontSize": "50%",
      "rangeMaps": [
        {
          "from": "null",
          "text": "N/A",
          "to": "null"
        }
      ],
      "sparkline": {
        "fillColor": "rgba(31, 118, 189, 0.18)",
        "full": false,
        "lineColor": "rgb(31, 120, 193)",
        "show": false
      },
      "tableColumn": "",
      "targets": [
        {
          "annotations": false,
          "expr": "alertname=\"high_cpu\"",
          "labelSelector": "*",
          "legendFormat": "",
          "refId": "A",
          "target": "Query",
          "type": "single"
        }
      ],
      "thresholds": "1,2",
      "timeFrom": null,
      "timeShift": null,
      "title": "CPU Load",
      "type": "singlestat",
      "valueFontSize": "80%",
      "valueMaps": [
        {
          "op": "=",
          "text": "N/A",
          "value": "null"
        }
      ],
      "valueName": "current"
    },
    {
      "cacheTimeout": null,
      "colorBackground": true,
      "colorValue": false,
      "colors": [
        "#299c46",
        "rgba(237, 129, 40, 0.89)",
        "#d44a3a"
      ],
      "datasource": "${DS_PROMETHEUS_ALERTMANAGER}",
      "format": "none",
      "gauge": {
        "maxValue": 100,
        "minValue": 0,
        "show": false,
        "thresholdLabels": false,
        "thresholdMarkers": true
      },
      "gridPos": {
        "h": 5,
        "w": 3,
        "x": 6,
        "y": 1
      },
      "id": 7,
      "interval": null,
      "links": [],
      "mappingType": 1,
      "mappingTypes": [
        {
          "name": "value to text",
          "value": 1
        },
        {
          "name": "range to text",
          "value": 2
        }
      ],
      "maxDataPoints": 100,
      "nullPointMode": "connected",
      "nullText": null,
      "options": {},
      "postfix": "",
      "postfixFontSize": "50%",
      "prefix": "",
      "prefixFontSize": "50%",
      "rangeMaps": [
        {
          "from": "null",
          "text": "N/A",
          "to": "null"
        }
      ],
      "sparkline": {
        "fillColor": "rgba(31, 118, 189, 0.18)",
        "full": false,
        "lineColor": "rgb(31, 120, 193)",
        "show": false
      },
      "tableColumn": "",
      "targets": [
        {
          "annotations": false,
          "expr": "alertname=\"out_of_ram\"",
          "labelSelector": "*",
          "legendFormat": "",
          "refId": "A",
          "target": "Query",
          "type": "single"
        }
      ],
      "thresholds": "1,2",
      "timeFrom": null,
      "timeShift": null,
      "title": "MEM Load",
      "type": "singlestat",
      "valueFontSize": "80%",
      "valueMaps": [
        {
          "op": "=",
          "text": "N/A",
          "value": "null"
        }
      ],
      "valueName": "current"
    },
    {
      "cacheTimeout": null,
      "colorBackground": true,
      "colorValue": false,
      "colors": [
        "#299c46",
        "rgba(237, 129, 40, 0.89)",
        "#d44a3a"
      ],
      "datasource": "${DS_PROMETHEUS_ALERTMANAGER}",
      "format": "none",
      "gauge": {
        "maxValue": 100,
        "minValue": 0,
        "show": false,
        "thresholdLabels": false,
        "thresholdMarkers": true
      },
      "gridPos": {
        "h": 5,
        "w": 3,
        "x": 10,
        "y": 1
      },
      "id": 8,
      "interval": null,
      "links": [],
      "mappingType": 1,
      "mappingTypes": [
        {
          "name": "value to text",
          "value": 1
        },
        {
          "name": "range to text",
          "value": 2
        }
      ],
      "maxDataPoints": 100,
      "nullPointMode": "connected",
      "nullText": null,
      "options": {},
      "postfix": "",
      "postfixFontSize": "50%",
      "prefix": "",
      "prefixFontSize": "50%",
      "rangeMaps": [
        {
          "from": "null",
          "text": "N/A",
          "to": "null"
        }
      ],
      "sparkline": {
        "fillColor": "rgba(31, 118, 189, 0.18)",
        "full": false,
        "lineColor": "rgb(31, 120, 193)",
        "show": false
      },
      "tableColumn": "",
      "targets": [
        {
          "annotations": false,
          "expr": "alertname=\"out_of_disk\"",
          "labelSelector": "*",
          "legendFormat": "",
          "refId": "A",
          "target": "Query",
          "type": "single"
        }
      ],
      "thresholds": "1,2",
      "timeFrom": null,
      "timeShift": null,
      "title": "Storage Load",
      "type": "singlestat",
      "valueFontSize": "80%",
      "valueMaps": [
        {
          "op": "=",
          "text": "N/A",
          "value": "null"
        }
      ],
      "valueName": "current"
    },
    {
      "cacheTimeout": null,
      "colorBackground": true,
      "colorValue": false,
      "colors": [
        "#299c46",
        "rgba(237, 129, 40, 0.89)",
        "#C4162A"
      ],
      "datasource": "${DS_PROMETHEUS_ALERTMANAGER}",
      "format": "none",
      "gauge": {
        "maxValue": 100,
        "minValue": 0,
        "show": false,
        "thresholdLabels": false,
        "thresholdMarkers": true
      },
      "gridPos": {
        "h": 5,
        "w": 3,
        "x": 14,
        "y": 1
      },
      "id": 2,
      "interval": null,
      "links": [],
      "mappingType": 1,
      "mappingTypes": [
        {
          "name": "value to text",
          "value": 1
        },
        {
          "name": "range to text",
          "value": 2
        }
      ],
      "maxDataPoints": 100,
      "nullPointMode": "connected",
      "nullText": null,
      "options": {},
      "postfix": "",
      "postfixFontSize": "50%",
      "prefix": "",
      "prefixFontSize": "50%",
      "rangeMaps": [
        {
          "from": "null",
          "text": "N/A",
          "to": "null"
        }
      ],
      "sparkline": {
        "fillColor": "rgba(31, 118, 189, 0.18)",
        "full": false,
        "lineColor": "rgb(31, 120, 193)",
        "show": false
      },
      "tableColumn": "description",
      "targets": [
        {
          "annotations": false,
          "expr": "alertname=\"monitor_service_down\"",
          "labelSelector": "*",
          "legendFormat": "{{hostname}}",
          "refId": "A",
          "target": "Query",
          "type": "single"
        }
      ],
      "thresholds": "1",
      "timeFrom": null,
      "timeShift": null,
      "title": "Service Is Down",
      "type": "singlestat",
      "valueFontSize": "80%",
      "valueMaps": [
        {
          "op": "=",
          "text": "N/A",
          "value": "null"
        }
      ],
      "valueName": "current"
    },
    {
      "cacheTimeout": null,
      "colorBackground": true,
      "colorValue": false,
      "colors": [
        "#299c46",
        "rgba(237, 129, 40, 0.89)",
        "#C4162A"
      ],
      "datasource": "${DS_PROMETHEUS_ALERTMANAGER}",
      "format": "none",
      "gauge": {
        "maxValue": 100,
        "minValue": 0,
        "show": false,
        "thresholdLabels": false,
        "thresholdMarkers": true
      },
      "gridPos": {
        "h": 5,
        "w": 3,
        "x": 18,
        "y": 1
      },
      "id": 19,
      "interval": null,
      "links": [],
      "mappingType": 1,
      "mappingTypes": [
        {
          "name": "value to text",
          "value": 1
        },
        {
          "name": "range to text",
          "value": 2
        }
      ],
      "maxDataPoints": 100,
      "nullPointMode": "connected",
      "nullText": null,
      "options": {},
      "postfix": "",
      "postfixFontSize": "50%",
      "prefix": "",
      "prefixFontSize": "50%",
      "rangeMaps": [
        {
          "from": "null",
          "text": "N/A",
          "to": "null"
        }
      ],
      "sparkline": {
        "fillColor": "rgba(31, 118, 189, 0.18)",
        "full": false,
        "lineColor": "rgb(31, 120, 193)",
        "show": false
      },
      "tableColumn": "description",
      "targets": [
        {
          "annotations": false,
          "expr": "alertname=\"lib_is_high\"",
          "labelSelector": "*",
          "legendFormat": "{{hostname}}",
          "refId": "A",
          "target": "Query",
          "type": "single"
        }
      ],
      "thresholds": "1",
      "timeFrom": null,
      "timeShift": null,
      "title": "High lib",
      "type": "singlestat",
      "valueFontSize": "80%",
      "valueMaps": [
        {
          "op": "=",
          "text": "N/A",
          "value": "null"
        }
      ],
      "valueName": "current"
    },
    {
      "collapsed": false,
      "gridPos": {
        "h": 1,
        "w": 24,
        "x": 0,
        "y": 6
      },
      "id": 15,
      "panels": [],
      "repeat": null,
      "title": "Alert List",
      "type": "row"
    },
    {
      "columns": [],
      "datasource": "${DS_PROMETHEUS_ALERTMANAGER}",
      "fontSize": "100%",
      "gridPos": {
        "h": 5,
        "w": 12,
        "x": 0,
        "y": 7
      },
      "id": 4,
      "links": [],
      "options": {},
      "pageSize": null,
      "repeat": null,
      "scroll": true,
      "showHeader": true,
      "sort": {
        "col": 4,
        "desc": false
      },
      "styles": [
        {
          "alias": "Time",
          "dateFormat": "YYYY-MM-DD HH:mm:ss",
          "pattern": "Time",
          "type": "date"
        },
        {
          "alias": "Service",
          "colorMode": null,
          "colors": [
            "rgba(245, 54, 54, 0.9)",
            "rgba(237, 129, 40, 0.89)",
            "rgba(50, 172, 45, 0.97)"
          ],
          "decimals": 2,
          "mappingType": 1,
          "pattern": "instance",
          "preserveFormat": false,
          "rangeMaps": [],
          "thresholds": [],
          "type": "string",
          "unit": "short",
          "valueMaps": [
            {
              "text": "haya-node",
              "value": ""
            }
          ]
        },
        {
          "alias": "Severity",
          "colorMode": "row",
          "colors": [
            "rgba(50, 172, 45, 0.97)",
            "rgba(237, 129, 40, 0.89)",
            "rgba(245, 54, 54, 0.9)"
          ],
          "dateFormat": "YYYY-MM-DD HH:mm:ss",
          "decimals": 2,
          "link": false,
          "mappingType": 1,
          "pattern": "severity",
          "preserveFormat": false,
          "sanitize": false,
          "thresholds": [
            "2",
            "3"
          ],
          "type": "string",
          "unit": "short",
          "valueMaps": [
            {
              "text": "Critical",
              "value": "4"
            },
            {
              "text": "High",
              "value": "3"
            },
            {
              "text": "Warning",
              "value": "2"
            },
            {
              "text": "Info",
              "value": "1"
            }
          ]
        }
      ],
      "targets": [
        {
          "annotations": false,
          "expr": "alertname=\"monitor_service_down\"",
          "labelSelector": "hostname,instance,severity,description",
          "legendFormat": "",
          "refId": "D",
          "target": "Query",
          "type": "table"
        }
      ],
      "timeFrom": null,
      "timeShift": null,
      "title": "Service is Down",
      "transform": "table",
      "type": "table"
    },
    {
      "columns": [],
      "datasource": "${DS_PROMETHEUS_ALERTMANAGER}",
      "fontSize": "100%",
      "gridPos": {
        "h": 5,
        "w": 12,
        "x": 12,
        "y": 7
      },
      "id": 9,
      "links": [],
      "options": {},
      "pageSize": null,
      "scroll": true,
      "showHeader": true,
      "sort": {
        "col": 4,
        "desc": false
      },
      "styles": [
        {
          "alias": "Time",
          "dateFormat": "YYYY-MM-DD HH:mm:ss",
          "pattern": "Time",
          "type": "date"
        },
        {
          "alias": "Service",
          "colorMode": null,
          "colors": [
            "rgba(245, 54, 54, 0.9)",
            "rgba(237, 129, 40, 0.89)",
            "rgba(50, 172, 45, 0.97)"
          ],
          "decimals": 2,
          "mappingType": 1,
          "pattern": "instance",
          "preserveFormat": false,
          "rangeMaps": [],
          "thresholds": [],
          "type": "string",
          "unit": "short",
          "valueMaps": [
            {
              "text": "haya-node",
              "value": ""
            }
          ]
        },
        {
          "alias": "Severity",
          "colorMode": "row",
          "colors": [
            "rgba(245, 54, 54, 0.9)",
            "rgba(237, 129, 40, 0.89)",
            "rgba(50, 172, 45, 0.97)"
          ],
          "dateFormat": "YYYY-MM-DD HH:mm:ss",
          "decimals": 2,
          "link": false,
          "mappingType": 1,
          "pattern": "severity",
          "preserveFormat": false,
          "sanitize": false,
          "thresholds": [],
          "type": "string",
          "unit": "short",
          "valueMaps": [
            {
              "text": "Critical",
              "value": "4"
            },
            {
              "text": "High",
              "value": "3"
            },
            {
              "text": "Warning",
              "value": "2"
            },
            {
              "text": "Info",
              "value": "1"
            }
          ]
        }
      ],
      "targets": [
        {
          "annotations": false,
          "expr": "alertname=\"out_of_disk\"",
          "labelSelector": "hostname,instance,severity,description",
          "legendFormat": "",
          "refId": "D",
          "target": "Query",
          "type": "table"
        }
      ],
      "timeFrom": null,
      "timeShift": null,
      "title": "Out of Disk Space",
      "transform": "table",
      "type": "table"
    },
    {
      "columns": [],
      "datasource": "${DS_PROMETHEUS_ALERTMANAGER}",
      "fontSize": "100%",
      "gridPos": {
        "h": 5,
        "w": 12,
        "x": 0,
        "y": 12
      },
      "id": 17,
      "links": [],
      "options": {},
      "pageSize": null,
      "scroll": true,
      "showHeader": true,
      "sort": {
        "col": 4,
        "desc": false
      },
      "styles": [
        {
          "alias": "Time",
          "dateFormat": "YYYY-MM-DD HH:mm:ss",
          "pattern": "Time",
          "type": "date"
        },
        {
          "alias": "Service",
          "colorMode": null,
          "colors": [
            "rgba(245, 54, 54, 0.9)",
            "rgba(237, 129, 40, 0.89)",
            "rgba(50, 172, 45, 0.97)"
          ],
          "decimals": 2,
          "mappingType": 1,
          "pattern": "instance",
          "preserveFormat": false,
          "rangeMaps": [],
          "thresholds": [],
          "type": "string",
          "unit": "short",
          "valueMaps": [
            {
              "text": "haya-node",
              "value": ""
            }
          ]
        },
        {
          "alias": "Severity",
          "colorMode": "row",
          "colors": [
            "rgba(245, 54, 54, 0.9)",
            "rgba(237, 129, 40, 0.89)",
            "rgba(50, 172, 45, 0.97)"
          ],
          "dateFormat": "YYYY-MM-DD HH:mm:ss",
          "decimals": 2,
          "link": false,
          "mappingType": 1,
          "pattern": "severity",
          "preserveFormat": false,
          "sanitize": false,
          "thresholds": [],
          "type": "string",
          "unit": "short",
          "valueMaps": [
            {
              "text": "Critical",
              "value": "4"
            },
            {
              "text": "High",
              "value": "3"
            },
            {
              "text": "Warning",
              "value": "2"
            },
            {
              "text": "Info",
              "value": "1"
            }
          ]
        }
      ],
      "targets": [
        {
          "annotations": false,
          "expr": "alertname=\"out_of_ram\"",
          "labelSelector": "hostname,instance,severity,description",
          "legendFormat": "",
          "refId": "D",
          "target": "Query",
          "type": "table"
        }
      ],
      "timeFrom": null,
      "timeShift": null,
      "title": "Out of RAM",
      "transform": "table",
      "type": "table"
    },
    {
      "columns": [],
      "datasource": "${DS_PROMETHEUS_ALERTMANAGER}",
      "fontSize": "100%",
      "gridPos": {
        "h": 5,
        "w": 12,
        "x": 12,
        "y": 12
      },
      "id": 16,
      "links": [],
      "options": {},
      "pageSize": null,
      "scroll": true,
      "showHeader": true,
      "sort": {
        "col": 4,
        "desc": false
      },
      "styles": [
        {
          "alias": "Time",
          "dateFormat": "YYYY-MM-DD HH:mm:ss",
          "pattern": "Time",
          "type": "date"
        },
        {
          "alias": "Service",
          "colorMode": null,
          "colors": [
            "rgba(245, 54, 54, 0.9)",
            "rgba(237, 129, 40, 0.89)",
            "rgba(50, 172, 45, 0.97)"
          ],
          "decimals": 2,
          "mappingType": 1,
          "pattern": "instance",
          "preserveFormat": false,
          "rangeMaps": [],
          "thresholds": [],
          "type": "string",
          "unit": "short",
          "valueMaps": [
            {
              "text": "haya-node",
              "value": ""
            }
          ]
        },
        {
          "alias": "Severity",
          "colorMode": "row",
          "colors": [
            "rgba(50, 172, 45, 0.97)",
            "rgba(237, 129, 40, 0.89)",
            "rgba(245, 54, 54, 0.9)"
          ],
          "dateFormat": "YYYY-MM-DD HH:mm:ss",
          "decimals": 2,
          "link": false,
          "mappingType": 1,
          "pattern": "severity",
          "preserveFormat": false,
          "sanitize": false,
          "thresholds": [
            "2",
            "3"
          ],
          "type": "string",
          "unit": "short",
          "valueMaps": [
            {
              "text": "Critical",
              "value": "4"
            },
            {
              "text": "High",
              "value": "3"
            },
            {
              "text": "Warning",
              "value": "2"
            },
            {
              "text": "Info",
              "value": "1"
            }
          ]
        }
      ],
      "targets": [
        {
          "annotations": false,
          "expr": "alertname=\"high_cpu\"",
          "hide": false,
          "labelSelector": "hostname,instance,severity,description",
          "legendFormat": "",
          "refId": "D",
          "target": "Query",
          "type": "table"
        }
      ],
      "timeFrom": null,
      "timeShift": null,
      "title": "High CPU Load",
      "transform": "table",
      "type": "table"
    },
    {
      "columns": [],
      "datasource": "${DS_PROMETHEUS_ALERTMANAGER}",
      "fontSize": "100%",
      "gridPos": {
        "h": 5,
        "w": 24,
        "x": 0,
        "y": 17
      },
      "id": 18,
      "links": [],
      "options": {},
      "pageSize": null,
      "scroll": true,
      "showHeader": true,
      "sort": {
        "col": 4,
        "desc": false
      },
      "styles": [
        {
          "alias": "Time",
          "dateFormat": "YYYY-MM-DD HH:mm:ss",
          "pattern": "Time",
          "type": "date"
        },
        {
          "alias": "Service",
          "colorMode": null,
          "colors": [
            "rgba(245, 54, 54, 0.9)",
            "rgba(237, 129, 40, 0.89)",
            "rgba(50, 172, 45, 0.97)"
          ],
          "decimals": 2,
          "mappingType": 1,
          "pattern": "instance",
          "preserveFormat": false,
          "rangeMaps": [],
          "thresholds": [],
          "type": "string",
          "unit": "short",
          "valueMaps": [
            {
              "text": "haya-node",
              "value": ""
            }
          ]
        },
        {
          "alias": "Severity",
          "colorMode": "row",
          "colors": [
            "rgba(50, 172, 45, 0.97)",
            "rgba(237, 129, 40, 0.89)",
            "rgba(245, 54, 54, 0.9)"
          ],
          "dateFormat": "YYYY-MM-DD HH:mm:ss",
          "decimals": 2,
          "link": false,
          "mappingType": 1,
          "pattern": "severity",
          "preserveFormat": false,
          "sanitize": false,
          "thresholds": [
            "2",
            "3"
          ],
          "type": "string",
          "unit": "short",
          "valueMaps": [
            {
              "text": "Critical",
              "value": "4"
            },
            {
              "text": "High",
              "value": "3"
            },
            {
              "text": "Warning",
              "value": "2"
            },
            {
              "text": "Info",
              "value": "1"
            }
          ]
        }
      ],
      "targets": [
        {
          "annotations": false,
          "expr": "alertname=\"lib_is_high\"",
          "labelSelector": "hostname,instance,severity,description",
          "legendFormat": "",
          "refId": "D",
          "target": "Query",
          "type": "table"
        }
      ],
      "timeFrom": null,
      "timeShift": null,
      "title": "High lib",
      "transform": "table",
      "type": "table"
    }
  ],
  "refresh": "10s",
  "schemaVersion": 18,
  "style": "dark",
  "tags": [],
  "templating": {
    "list": []
  },
  "time": {
    "from": "now-15m",
    "to": "now"
  },
  "timepicker": {
    "refresh_intervals": [
      "5s",
      "10s",
      "30s",
      "1m",
      "5m",
      "15m",
      "30m",
      "1h",
      "2h",
      "1d"
    ],
    "time_options": [
      "5m",
      "15m",
      "1h",
      "6h",
      "12h",
      "24h",
      "2d",
      "7d",
      "30d"
    ]
  },
  "timezone": "",
  "title": "Alerts Status Board",
  "uid": "9eF6cr4Zz",
  "version": 11
}
